from orca_python import (
    Processor,
    WindowType,
    ExecutionParams,
    MetadataField,
{{- range .ImportTypes }}
    {{ . }},
{{- end }}
)

# --- Global Metadata Fields ---
{{ range .AllMetadata -}}
{{ .VarName | SanitiseVariableName }}: MetadataField
{{ end }}
# --- Global Window Types ---
{{ range .AllWindows -}}
{{ .VarName | SanitiseVariableName }}: WindowType
{{ end }}
{{ range $i, $p := .Processors -}}

# --- Processor Start: {{ .Name }} ---
proc_{{ .Name | SanitiseVariableName }}: Processor

# --- Algorithms ---
{{ range .Algorithms -}}
def {{ .VarName | ToSnakeCase | SanitiseVariableName }}(params: ExecutionParams) -> {{ .ReturnType }}:
    """
{{ .Description | WrapText 72 | Indent 4 }}
    """
    ...

{{ end -}}
# --- Processor End ---

{{ end }}
